<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li>Admin</li>
      <li>Panel de administración</li>
    </ol>
    <h2>Panel de administración</h2>
  </div>
</section>
<section class="blog container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/slider" routerLinkActive="active"
        >Slider Principal</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/admin/convocatorias"
        routerLinkActive="active"
        >Convocatorias</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/galeria" routerLinkActive="active"
        >Galerias</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/admin/servicios"
        routerLinkActive="active"
        >Servicios y ayuda</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/talleres" routerLinkActive="active"
        >Talleres y conferencias</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/admin/registros"
        routerLinkActive="active"
        >Registros</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/usuarios" routerLinkActive="active"
        >Usuarios</a
      >
    </li>
  </ul>
</section>
<section class="container">
  <router-outlet></router-outlet>
</section>
