<app-header></app-header>

<div style="min-height: 600px">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<ng-template #customLoadingTemplate>
  <div
    style="
      z-index: 1999;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      font-weight: 800;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
    "
  >
    <br />
    <br />
    <br />
    <br />
    <h3>{{ loadingtext }}</h3>
  </div>
</ng-template>
<ngx-loading [show]="loading" [template]="customLoadingTemplate"></ngx-loading>
