<!-- Button trigger modal -->
<div style="display: flex; justify-content: space-between">
  <h5>Listado de imagenes activas</h5>
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#modNewGaleri"
  >
    Nueva
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modNewGaleri"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modNewGaleriLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modNewGaleriLabel">Datos de la imagen</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="frmnewImageGaleri" (ngSubmit)="newImageGaleri()">
        <div class="modal-body">
          <div class="form-group">
            <label for="">Titulo de la imagen</label>
            <input
              type="text"
              formControlName="title"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <label for="">Imagen</label>
            <input
              type="file"
              formControlName="image"
              class="form-control"
              (change)="cambioArchivo($event)"
              required
            />
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="reset" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" *ngIf="Galeria$ | async as datos; else sinData">
    <div
      class="col-md-4"
      *ngFor="let item of Galeria$ | async"
      [hidden]="filter(item.payload.doc.data().user)"
    >
      <article class="entry">
        <div
          class="btn-group float-right"
          role="group"
          aria-label="Basic example"
          style="position: absolute; right: 3%"
        >
          <!-- <button
          type="button"
          class="btn btn-success"
          (click)="Edit(item.payload.doc.id, item.payload.doc.data())"
        >
          Editar
        </button> -->
          <button
            type="button"
            class="btn btn-danger"
            (click)="delete(item.payload.doc.id)"
          >
            Eliminar
          </button>
          <!-- <button type="button" class="btn btn-secondary">Right</button> -->
        </div>
        <div class="entry-img">
          <img
            [src]="item.payload.doc.data().urlImage"
            alt=""
            class="img-fluid"
            loading="lazy"
          />
        </div>

        <h2 class="entry-title">
          <a href="blog-single.html">{{ item.payload.doc.data().title }}</a>
        </h2>
        <div class="entry-content">
          <p>
            {{ item.payload.doc.data().description }}
          </p>
        </div>
      </article>
    </div>
  </div>
  <ng-template class="row text-center" #sinData>
    <div class="col-12 text-center">
      <br /><br />
      <h3>No hay datos que mostrar</h3>
    </div>
  </ng-template>
</div>
